:root{
    --board-size: 350px;

}


.container{
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



.tablero{
    width: var(--board-size);
    height: var(--board-size);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    /* grid-auto-rows: calc(var(--board-size) /3); */
 


}




.box{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid black;
}